services:
  pdf-editor:
    build:
      context: ../..
      dockerfile: docker/pdfTextEditor/Dockerfile
    container_name: pdf-text-editor
    ports:
      - "8000:8000"
    volumes:
      - ../../logs:/app/logs
      - ../../.tmp:/app/.tmp
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    restart: unless-stopped

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok-tunnel
    restart: unless-stopped
    command: "http --domain=rabbinical-metaleptically-bodhi.ngrok-free.dev pdf-text-editor:8000"
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040" # Monitor interface
    depends_on:
      - pdf-editor
